<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Items</title>
 <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="session">
<h3 th:text=" 'Welcome ' + ${session.customer.userName} +'!!' "></h3></div>

<!--<div class="item">
<h1>Welcome to Shopping Basket Application</h1>
</div>-->

<div class="menu">
<h1 id="menuOpt">Add Items To Your Cart : </h1>
<form action="#" method="post" th:action="@{./addItem}" th:object="${command}">

<label>Select Item's Name : </label><select class="opt" th:field="*{itemId}">
<option class="opt" th:each="id: ${itemIds}" th:value="${id}" th:label="${id}" >
</select>


<br>

<label>Enter Items' Quantities :</label> <input type="number" required name="purchaseQuantity" >
<br><br>
<input type="submit" name="addItems" value="Submit">
</form>
</div>
<h2 th:text="${message}" style="color: blue"></h2>
<br>
<a class="button1" href="./cart">Go To Cart</a><br><br>
<a class="button1" href="./index">Main Page</a>

</body>
</html>