<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Purchase Options</title>
 <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="item">
<h1>Welcome to Shopping Basket Application</h1>
</div>

<div class="menu">
<h1 id="menuOpt">Cart Menu</h1>

<nav>
<a class="button" href="./addItemPage">Add Items</a><br><br>

<a class="button" href="./inputItemIdToDelete">Remove Items</a><br><br>

<a class="button" href="./modifyItemPage">Modify Items Quantity</a><br><br>

<a class="button" href="./seeItemsInCart">See Items in the cart</a><br><br>
</nav>
</div>
<a class="button1" href="./index">Main Menu</a>

</body>
</html>