<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
 <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="login">
<h1>Welcome to Shopping Basket Application</h1>
</div>
<div class="loginBody">
<h2>Registration/Login</h2>
<form action="#" th:action="@{./login}" method="post" th:object="${command}">
	<label>Enter Your Name :</label> <input placeholder="Enter Your Name" required type="text" th:field="*{userName}"><br><br>
	<label>Enter Password  :</label> <input placeholder="Enter Your Password" required type="password" th:field="*{userPassword}"><br><br>
	<input type="submit" name="action" value="Register">
	<input type="submit" name="action" value="Login">
	<br><br>
	
</form>
</div>

<h2 th:text="${message}" style="color: red;font-weight:300;"></h2>
</body>
</html>