<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Items</title>
 <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="item">
<h2>ITEMS PRESENT IN SHOP </h2>
</div>
<div id="main">
<table class="timecard">
	<thead>
	<tr>
		<th>Item ID</th>
		<th>Item Category</th>
		<th>Item Name</th>
		<th>Item Price</th>
		<th>Available Quantity</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="item : ${items}">
		<td class="odd" th:text="${item.itemId}"></td>
		<td class="even" th:text="${item.itemCategory}"></td>
		<td class="odd" th:text="${item.itemName}"></td>
		<td class="even" th:text="${item.itemPrice}"></td>
		<td class="odd" th:text="${item.availableQuantity}"></td>
	</tr>
	</tbody>
</table>

</div><br>

<a class="button1" href="./index">Go To Main Page</a>

</body>
</html>